/* font-family: 'EB Garamond', serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Space Grotesk', sans-serif; */

html {
  height: 100%;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(235, 233, 230);
  overflow: hidden;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr 1.5fr;
  grid-template-rows: repeat(0, 2fr) 2fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  font-family: "Space Grotesk", sans-serif;

}

.div1 {
  grid-area: 1 / 1 / 4 / 2;
  margin-left: 40px;
  border-right: 0.5px solid black;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.arrow{
  width: 30px;
  margin: 0 10px 0 0;
}
h3,
.div1 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 1.5vw;
}
a{
  text-decoration: none;
  color:black;
  margin-top: 0;
}
.intro-arrow{
  display: flex;
}
.software{
  margin: 0px;
  font-size: 24px;
  font-weight: 900;
}
.title {
  font-size: 9vw;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin: 0;
}

.div2 {
  grid-area: 1 / 2 / 2 / 4;
  position: relative;
}

.pinned {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
}
.issue,
.date-of-issue {
  margin: 0;
}
.div3 {
  grid-area: 2 / 2 / 4 / 3;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.issue-num {
  font-size: 4.5vw;
  font-weight: 400px;
  font-family: "Playfair Display", serif;
  margin-bottom: 5vw;
}




.div4 {
  grid-area: 2 / 3 / 3 / 4;
  border-top: 0.5px solid black;
  overflow: auto;
}
.profile{
    border-bottom: 0.5px solid black;

}
*::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 1px;
    border: 5px solid rgb(235, 233, 230);
  }
img {
  margin-top: 20px;
}
.article-title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
}
.article-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Playfair Display", serif;
}
.header{
  /* display: flex;
  justify-content: space-between; */
}
.job{
  margin-top: 5px;
}
.position{
  margin: 15px 0 0 0;
font-family: 'Space Grotesk', sans-serif;
font-weight: 200;
font-size: 20px;
font-family: 'Playfair Display', serif;

}
.date{
  margin: 0;
  font-size: 12px;
font-family: 'Playfair Display', serif;
}
.p-body {
  font-family: "Inter", sans-serif;
  
  font-weight: 200;
  font-size: 18px;
  margin: 10px 0 0 0;
}
.min-read {
}







.div5 {
  grid-area: 3 / 3 / 4 / 4;
}
svg {
  margin-top: 0px;
  height: 30px;
  width: 30px;
}
.read-more {
  display: flex;
  justify-content: end;
  font-size: 24px;
}
.read-link {
  margin-top: 10px;
  font-size: 18px;
}
.div6 {
  grid-area: 1 / 4 / 2 / 5;
  margin-right: 40px;
  border-left: 0.5px solid black;
  padding-left: 20px;
  justify-content: space-between;
  position: relative;
}
.headline {
  color: white;
  background-color: black;
  margin-left: -20px;
  margin-top: 0px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 20px;
}
.project-direction {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.see-all {
  padding-right: 40px;
}
.featured,
.see-all {
  margin: 0;
}
.featured {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 24px;
}
.div7 {
  grid-area: 2 / 4 / 4 / 5;
  margin-right: 40px;
  border-left: 0.5px solid black;
  padding: 20px;
  overflow: auto;

}
.col-right {
  border-left: 0.5px solid black;
}
.project-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.proj-number{
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    margin: 0;
}
.project-title {
  margin: 0;
}
.project-content {
  font-weight: 200;
}
